{% extends "notes/base.html" %}
{% load static %}

{% block content %}

<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" />
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<main class="container">
  <form class="form-card" method="post">
    {% csrf_token %}
    <input class="form-card-title" type="text" name="titulo" placeholder="Título" required />
    <textarea class="autoresize" name="detalhes" placeholder="Digite o conteúdo..." required></textarea>
    <button class="btn" type="submit">Criar</button>
  </form>

  <div class="card-container">
    {% for note in notes %}
    <div class="card">
      <form class="card-edit-form" method="post" action="/editar">
          <input type="hidden" name="id" value="{id}" />
          <button class="card-edit-btn" type="submit" title="Editar">&#9998;</button>
      </form>
      <form class="card-delete-form" method="post" action="/confirmar-exclusao">
          <input type="hidden" name="id" value="{id}" />
          <button class="card-delete-btn" type="submit" title="Excluir">&times;</button>
      </form>
      <h3 class="card-title">{{ note.title }}</h3>
      <div class="card-content">
          <p>{{ note.details }}</p>
      </div>
      <form class="card-favorite-form" method="post" action="/favoritar">
          <input type="hidden" name="id" value="{id}" />
          <button class="card-favorite-btn {star_class}" type="submit" title="Favoritar">{star}</button>
      </form>
    </div>
    {% endfor %}
  </div>
</main>

<script type="text/javascript" src="{% static 'notes/js/getit.js' %}"></script>

{% endblock %}